{% extends 'base.html' %}
{% load staticfiles %}
{% block title%} About Us {% endblock %} 


{%block topimage%}
<img src="{% static 'francais/AboutUs.jpg' %}" alt="image top"  style="width:100%; height: 400px">

{% endblock %}

{% block content%}
<div class="w3-container w3-orange">
  <h2 style="text-align:center">Qui sommes nous?/ Who are we?</h2>
</div>
<br>
 <div class="contenu_corps" style="margin: 20px 20px 0px 20px">
Nous sommes un groupe de professionnels bilingues ayant constaté la difficulté pour beaucoup d'étudiants ou de compagnies de 
faire éditer leur documents en Francais (de France ou du Quebec). Au Canada anglophone ou même francophone, nous vous aiderons a des couts tres abordables.
Le système est modelé de telle manière que vous puissiez voir combien vous investirez pour augmenter vos resultats scholaire ou mieux satisfaire votre clientèle 
anglophone ou francophone. Aussi, nous sommes conscients qu'il n'est pas facile pour les jeunes diplomés de faire faire une critique constructive de leur CV our résumé.
Ainsi, nous relirons votre CV, et en Francais, et en anglais pourvus qu'il ne depasse pas une page. <br><br>

We are a group of bilingual professionals with the desire to help students and businesses in proofreading their documents both in French (from France and Quebec) and 
in English. Both in Anglophone and francophone Canada, we will help you get the best out of your document for very low costs. Our system is designed in such a way that 
you can see how much money you are investing in getting your document proofread. Also, we are aware that after completing your degree or during your studies, it can be 
hard and costly to have your resume proofread and constructively criticised. Therefore, if you are a student or just finished your degre, please email us your resume if it 
less than 2 pages
</div>

<br>
<br>
<div class="w3-container w3-orange">
  <h2 style="text-align:center">Ou sommes nous?/ Where are we?</h2>
</div>
<br>
 <div class="contenu_corps" style="margin: 20px 20px 0px 20px">
Nous sommes un peu partout au Canada, de St John's (Terre-Neuve et Labrador) a Vancouver.
Nous vous assisterons ou que vous soyez! Il ne vous suffira qu'a demander. <br> <br>

We are about everywhere in Canada, from St John's (Newfoundland and Labrador) to Vancouver.
We will assist you whererever you are! You just have to ask.

</div>
<br>
<br>

<div class="w3-container w3-orange">
  <h2 style="text-align:center"> Autre Question? /Other questions</h2>
</div>
<br>
 <div class="contenu_corps" style="margin: 20px 20px 0px 20px">
N'hesitez pas a nous envoyer un email à francaisvitefait@gmail.com <br> <br>

Feel free to reach us for any question you may have. Our email is francaisvitefait@gmail.com
</div>

{% endblock%}
{% block second%}


{%endblock%}

{% block do%}


{%endblock%}


{% block faq%}




{% endblock %}

