{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
{% block title%}Payment failed {% endblock %} 
<div class="w3-container w3-lime">
  <h2 style="text-align:center">Document reception status</h2>
</div>
<br>
 <div class="contenu_corps" style="margin: 20px 20px 0px 20px">
 

      	
      	

          <div class="w3-center">
 			
 			
 			<p>  Your payment has not been successful!  </p>
 			
 			<p>  Please submit your document again. </p>
 			
  
  					<br>
  					
			
 	</div>	
    

    
{% endblock%}